@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	padding: 0px;
	height: 100%;
}
#order-table th,td {
	border-width: 1px;
	border-collapse: collapse;
	width: 300px;
	padding: 10px;
}

#quantity-table td {
	border-width: 1px;
	border-collapse: collapse;
}
#declined {
	color: red;
}
